/*font*/
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Adamina');
$logo-font:'Mr Dafoe',cursive;
$link-font:'Questrial',sans-serif;
$figure-section-font:'Nunito',sans-serif;
$label-font:'Adamina',serif;

/* Global Sass variables */
$text-color:#3f3f3f;
$logo-color: #ef85a3;
$border-color: black;
$link-color:#f09cb4;
$link-hover-color:white;
$link-active-font-color:#ccc;
$link-active-background-color:antiquewhite;
$main-content-bg-color:#ffd6e2;
$a-top-color:deeppink;
$a-hover-color:blueviolet;
$p-color:grey;
$th-border-color:#ddd;
$th-background-color: #f5f5f5;
$td-border-color:#4cba6d;
$figure-p-color:aliceblue;
$span-color:#4c4c4c;
$input-background-color:azure;
$a-mobile-link-color:#444;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    text-align: center;
    background-image: url("../img/bg.jpg");
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

li, p, legend, lable, textarea {
    color: $text-color;
}
