// Sass Partial
@import 'normalize';
@import 'base';


/*index page*/
/*menu*/
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    li {
        display: inline;

        a {
            &:link {
                text-decoration: none;
                color: $logo-color;
                display: inline-block;
                width: 80%;
                margin: 0 0 0.5rem 0;
                padding: 0.3rem;
                border: 1px dotted $link-color;
                font-family: $link-font;
            }

            &:hover {
                color: $link-hover-color;
                background-color: $link-color;
            }

            &:active {
                background-color: $link-active-background-color;
                color: $link-active-font-color;
            }
        }
    }
}


/*masthead*/
.masterhead {
    /* Class scoped Sass variable */
    $height: 150px;

    height: $height;
    background-image: url("../img/masthead.jpg");

    a {
        text-decoration: none;
    }
}
h1 {
    padding: 2rem 0 0 0;
    text-align: center;
    font-family: $logo-font;
    font-size: 2.1rem;
    color: $logo-color;
}

#search {
    width: 200px;
    padding: 7px;
    border: 1px solid $border-color;
}

#submit {
    padding: 7px;
    background: $logo-color;
    border-radius: 4%;
}

.searchbar {
    margin: 0.5rem auto;
}


/*figure section*/
main {
    margin: 1rem;
 ul{
     list-style: none;
     img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 4%;

        &:hover {
            box-shadow: 5px 1px 8px 1px $link-color;
        }
    }
  } 
}
.main-content-bg {
    padding: 2.5rem;
    background-color: $main-content-bg-color;
}
.content-box {
    text-align: center;
}
.name {
    margin-bottom: 1rem;

    li {
        font-family: $figure-section-font;
    }
}
a[href="#top"] {
    padding: 1.3rem 0 1.2rem;
    text-decoration: none;
    color:$a-top-color;
    font-size: 1rem;
    font-family: $figure-section-font;
    background-image: url("../img/icon.png");
}
.footer-content {
    height: 150px;
    margin-top: 3rem;
    background-image: url("../img/masthead.jpg");

    p {
        margin: 0.5rem 0 0.5rem 0;
        color:$p-color;
        font-family: $label-font;
        font-size: 0.6rem;
    }

    span {
        color:$span-color;
    }
}
h2 {
    font-family: $logo-font;
    font-size: 2rem;
    color: $logo-color;
    padding-top: 2rem;
}
#sub-nav {
    margin-top: 5rem;
    margin-bottom: 5.5rem;

    ul {
        width: 100%;

        li {
            display: inline;
            &:last-child a {
                border: none;
            }

            a {
                width: auto;
                background: none;
                border: none;
                padding: 0 2rem;
                border-right: 2px solid $a-top-color;
                text-align: center;
                margin-right: 0;
                &:hover {
                    color:$a-hover-color;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

/*end of index page*/

/*start of about page*/
.tablet_sale {
    display: none;
}

.main-content-photo {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 4%;
}

.main-content-photo p, .main-content-table tr, .main-content-table td {
    text-align: justify;
    font-family: $figure-section-font;
    color:$p-color;
}

.main-content-table {
     td {
       text-align: center;
       }

      img {
       box-shadow: 5px 1px 8px 1px $link-color;
      }
}

.main-content-photo img {
    margin: 0 0 2rem 0;
    box-shadow: 5px 1px 8px 1px $link-color;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

th {
    border: 1px solid $th-border-color;
    background-color: $th-background-color;
    padding: 1rem;
    text-align: center;
}

td {
    border: 1px dotted $td-border-color;
    padding: 0.7rem;
    text-align: center;
}

/*form*/
fieldset {
    border: none;
}

form {
    padding: 1rem;
    border: 1px dotted $td-border-color;
}

.form-box {
    padding: 0 0 1rem 0;

    &:nth-child(5) lable {
        display: inline-block;
    }
}

lable {
    display: block;
    margin: 0 0 0.5rem 0;
    font-family: $label-font;
    font-size: 0.8rem;

    &:first-child {
        margin-top: 0.5rem;
    }
}

legend {
    font-family: $link-font;
}

input[type="text"], input[type="email"], textarea {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $th-border-color;
    border-radius: 3px;
    background-color: $input-background-color;

    &:hover {
        background-image: url("../img/bg.jpg");
    }
}

input[type="submit"] {
    padding: .5rem;
    border: 1px dotted $td-border-color;
    border-radius: 4%;
    background-color: $logo-color;
    color: $figure-p-color;
}

/*map*/
.map-wrapper {
    width: 100%;
    margin-top: 2rem;

    iframe {
        width: 100%;
        margin-bottom: 2rem;
    }

    p {
        font-family: $link-font;
        color: $text-color;
    }

    span {
        font-family: $logo-font;
        font-size: 1.1rem;
        color: $logo-color;
    }
}

/*STYLE adjustment FOR TEMPLATES*/
@media all and (min-width:768px) {
      /*index*/
    h1 {
        padding: 2.1rem 0 0 4rem;
        text-align: left;
        display: inline;
        font-size: 3rem;
    }

    .searchbar {
        padding: 3rem 4rem 0 0;
    }

    nav {
        margin: 0 4rem 0 4rem;
        ul {

            li {
                &:last-child a:link {
                    margin: 0;
                }

                a {

                    &:link {
                        text-decoration: none;
                        color: $a-mobile-link-color;
                        display: inline-block;
                        padding: 0.5rem;
                        background-color: $link-color;
                        width: calc(33.33% - 1rem);
                        margin: 0 1rem 0 0;
                        border-radius: 4%;
                        font-family: $figure-section-font;
                    }
                }
            }
        }
    }
    main {
        margin: 4rem;

        ul {
            margin: 0;
            &::after {
                content: "";
                display: block;
                clear: left;
            }

            li {
                width: calc(33.33% - 1rem + 0.33rem);
                float: left;
                margin: 0 1rem 1rem 0;
                &:nth-child(3n) {
                    margin: 0 0 1rem 0;
                }
            }
        }
    }

    .main-content-bg {
        padding: 5.5rem;
    }

    figcaption ul li {
        width: 100%;
        float: none;
    }
    figure {
        img {
            width: 100%;
            margin-bottom: 1rem;
        }

        p {
            background: $border-color;
            text-align: center;
            color: $figure-p-color;
        }
    }
    h1 {
        float: left;
    }

    .searchbar {
        float: right;
        padding: 3rem 4rem;
    }

    #sub-nav ul li a {
        float: left;
    }

    a[href="#top"] {
        float: right;
        margin-right: 4rem;
    }

    img {
        width: 40%;
        float: left;
    }

    .main-content-photo {
        width: 46%;
        float: left;
        margin-right: 8%;

        img {
            margin: 0 1.7rem 0 0;
        }
    }

    .main-content-table {
        width: 46%;
        float: left;
    }

    .mobile_sale {
        display: none;
    }

    .tablet_sale {
        display: block;
        width: 250%;
    }

    /*    contact*/
    form {
        width: 46%;
        margin-right: 8%;
        float: left;
    }

    .map-wrapper {
        width: 46%;
        float: left;
        margin-top: 0rem;

        iframe {
            width: 100%;
            float: left;
        }
    }

    table {
        margin: 0 0 6rem 0;
    }
}